.container {
  height: 100vh;
}

.newTaskForm {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.radioButtonGrp {
  display: flex;
  justify-content: space-around;
}

fieldset {
  border-style: none;
}

ul {
  list-style: none;
  background-color: var(--clr-content-passive);
  padding: 2em 1em;
}
.radioButtonGrp li {
  display: inline-block;
  margin-right: 15px;
}
.radioButtonGrp input {
  visibility: hidden;
}
.radioButtonGrp label {
  cursor: pointer;
}
.radioButtonGrp input:checked + label {
  color: var(--clr-primary);
}

.addTaskBtn {
  padding: 2em 0;
  background-color: var(--clr-primary);
  color: white;
  border-style: none;
  font-size: 1.2rem;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
