<form class="newTaskForm">
  <div>
    <label class="visuallyhidden" for="newTaskInput">DESCRIPTION</label>
    <input type="text" id="newTaskInput" placeholder="Enter Task" />
  </div>
  <fieldset>
    <legend>WHEN</legend>
    <p>
      <input type="radio" id="radioToday" value="today" />
      <label for="radioToday">Today</label>
    </p>
    <p>
      <input type="radio" id="radioTomorrow" value="tomorrow" />
      <label for="radioTomorrow">Tomorrow</label>
    </p>
    <p>
      <input type="radio" id="radioDate" value="date" />
      <label for="radioDate">Select Date</label>
    </p>
  </fieldset>
  <input type="submit" value="Add Task" />
</form>
