@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@500;900&display=swap");

/* VARIABLES */

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;
  --fw-primary-medium: 500;
  --fw-primary-black: 900;
  --fw-secondary-semi-bold: 600;
  --clr-primary: hsl(345, 99%, 64%);
  --clr-secondary: hsl(245, 71%, 22%);
  --clr-text-primary: hsl(0, 0%, 22%);
  --clr-text-secondary: hsl(0, 0%, 7%);
  --clr-content-passive: hsl(0, 0%, 83%);
}

/* / VARIABLES */

/* GLOBALS */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--ff-primary);
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: var(--ff-primary);
}

/* / GLOBALS */
