<div class="taskListContainer">
  <div class="taskListRadioBtnGrp">
    <input name="taskListWhen" type="radio" id="taskListRadioToday" />
    <label for="taskListRadioToday">TODAY</label>
    <input name="taskListWhen" type="radio" id="taskListRadioTomorrow" />
    <label for="taskListRadioTomorrow">TOMORROW</label>
    <input name="taskListWhen" type="radio" id="taskListRadioWeek" />
    <label for="taskListRadioWeek">THIS WEEK</label>
  </div>
  <ul class="taskList">
    <li class="task taskFinished">Book appointment with</li>
    <li class="task">Upload today shot on Dribbble</li>
    <li class="task">Complete the Elephant Illustration</li>
    <li class="task">Buy Cake for Clair's Birthday</li>
    <li class="task">Attend UX Conference with Jared</li>
    <li class="task">Attend UX Conference with Jared</li>
    <li class="task">Attend UX Conference with Jared</li>
    <li class="task">Attend UX Conference with Jared</li>
    <li class="task">Attend UX Conference with Jared</li>
    <li class="task">Attend UX Conference with Jared</li>
    <li class="task">Attend UX Conference with Jared</li>
  </ul>
</div>
