.taskListContainer {
  height: 70vh;
}

.taskList {
  padding: 1rem 2rem;
  height: 30rem;
  list-style: none;
  overflow-y: scroll;
  background-color: hsl(0, 0%, 83%, 0.1);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.task {
  margin: 1.6rem 0;
  font-size: 1.2rem;
  position: relative;
}

.taskFinished {
  text-decoration: line-through;
  text-decoration-color: var(--clr-primary);
  text-decoration-thickness: 2px;
}
