.taskListContainer {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.taskList {
  padding: 1rem 2rem;
  list-style: none;
  overflow-y: scroll;
  background-color: hsl(0, 0%, 83%, 0.1);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.task {
  margin: 1.6rem 0;
  font-size: 1.2rem;
  position: relative;
}

.taskFinished {
  text-decoration: line-through;
  text-decoration-color: var(--clr-primary);
  text-decoration-thickness: 2px;
}

.taskListRadioBtnGrp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  margin-right: 15px;
  color: hsla(0, 0%, 0%, 0.2);
  font-size: 0.8rem;
  letter-spacing: 4px;
  transform: rotate(180deg);
}

.taskListRadioBtnGrp input {
  size: 0;
  opacity: 0;
}

.taskListRadioBtnGrp label {
  cursor: pointer;
}

.taskListRadioBtnGrp input:checked + label {
  color: var(--clr-primary);
}
